[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/dumdumGit/dumdumgit.github.io.git
	branch = master
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "dumdumgit.github.io"]
	path = dumdumgit.github.io
	url = https://github.com/dumdumgit/dumdumgit.github.io.git
	branch = master
